<!DOCTYPE html>
<html lang="es">

    <%-include('../partials/head') %>

<body> 

    <%-include('../partials/header') %>

    <main>      
        <div class="login">
            <form action="/users/login" method="POST">                
                    <div>
                        <label for="usuario">Nombre de usuario</label>
                        <input type="text" name="usuario" id="usuario">
                    </div>
                    <div>
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password">
                    </div>               
                <h5>¿Olvidaste tu nombre de usuario o contraseña?</h4>
                <div class="botonAcceptCancel">
                    <input type="submit" name="" value="Iniciar sesión">
                    <input type="reset" name="" value="Cancelar">
                </div>
            </form>   
        </div>                
    </main>

    <%-include('../partials/footer') %>
    
</body>
</html>