* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #3a3637;
  font-family: "Roboto", sans-serif;
}

:root {
  --colorOnyx: #3a3637;
  --colorNaranja: #fcb43a;
  --colorNaranjaClaro: #f1c780;
  --colorCremita: #fffef1;
  --colorOnyxHover: rgb(58, 54, 55, 0.7);
  --colorDarkVanilla: #dcc4a4;
  --colorCremitaHover: rgb(252, 180, 58, 0.4);
}

.carrito {
  background-color: var(--colorCremita);
}

.carrito .button {
  background-color: var(--colorOnyx);
  border: none;
  color: var(--colorNaranja);
  padding: 5px 40px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.carrito .button:hover {
  background-color: var(--colorOnyxHover);
}

.carrito a {
  text-decoration: none;
  color: var(--colorOnyx);
}

.carrito h2 {
  padding: 15px 0;
  margin-left: 10px;
}

.carrito .general p {
  font-size: 14px;
}

.carrito .general {
  margin: 0 10px;
}
.carrito .general .carritoProductos {
  border-top: 1px solid var(--colorDarkVanilla);
}

.carrito .general .carritoProductos article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carrito .general .carritoProductos article i {
  margin-bottom: 12px;
}

.carrito .general .carritoProductos article img {
  width: 70px;
}

.carrito .general .carritoProductos article div {
  margin: 30px 0;
  text-align: center;
}

.carrito .general form {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--colorDarkVanilla);
  border-radius: 10px;
  padding: 5px;
  margin: auto;
}

.carrito .general form input {
  flex-grow: 2;
  border: none;
  text-align: center;
  background-color: var(--colorCremita);
}

.carrito .general form input:focus {
  outline: none;
}

.carrito .general form button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.carrito .general .sumar {
  position: absolute;
  left: 120px;
}
.carrito .general .sumar input {
  width: 40px;
}

.carrito .general .sumar p {
  margin-bottom: 10px;
}

.carrito .general .subtotal {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--colorDarkVanilla);
  padding-bottom: 15px;
}

.carrito .general .carritoResumen h3 {
  display: none;
}

.carrito .general .carritoResumen h4 {
  display: inline-block;
  padding: 20px;
}

.carrito .general .recuadroResumen {
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.carrito .general .cp input {
  background-color: var(--colorCremita);
  padding: 0 10px;
  display: inline-block;
}

.carrito .general .cp input:last-child {
  border-left: 1px solid var(--colorDarkVanilla);
}

.carrito .general .depositoGratis {
  display: flex;
  border-bottom: 1px solid var(--colorDarkVanilla);
}

.carrito .general .depositoGratis span {
  padding: 0 10px;
  font-size: 13px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.carrito .general .total {
  display: flex;
  justify-content: space-between;
}

.carrito .general .finalizar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carrito .general .finalizar .verMas {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .carrito h2 {
    margin-left: 10px;
  }
  .carrito .general .carritoResumen h3 {
    display: block;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid var(--colorDarkVanilla);
  }
  .carrito .general {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
  }
  .carrito .general .carritoResumen {
    width: 37%;
    margin-right: 20px;
    padding-bottom: 0;
  }
  .carrito .general .carritoResumen .recuadroResumen {
    border: 1px solid var(--colorDarkVanilla);
    padding: 0 10px;
  }
  .carrito .general .carritoProductos {
    width: 55%;
  }
  .carrito .general .carritoProductos article {
    display: flex;
    justify-content: space-between;
  }
  .carrito .general .depositoGratis {
    border-top: 1px solid var(--colorDarkVanilla);
    padding-top: 15px;
  }
  .carrito .general .total h4 {
    padding: 10px;
  }
  .carrito .button {
    margin-top: 10px;
    width: 100%;
  }
  .carrito .general .carritoProductos article img {
    width: 90px;
  }
  .carrito .general .carritoProductos article div {
    margin: 47px 0;
    text-align: center;
  }
  .carrito .general .carritoProductos p {
    font-size: 16px;
  }
  .carrito .general .subtotal {
    border-bottom: none;
    border-top: 1px solid var(--colorDarkVanilla);
    padding-top: 15px;
  }
  .carrito .general .sumar {
    position: absolute;
    left: 150px;
  }
}

@media (min-width: 1024px) {
  .carrito h2 {
    margin-left: 30px;
  }
  .carrito .general {
    margin: 0 30px;
    justify-content: center;
  }
  .carrito .general .carritoProductos {
    margin-right: 50px;
    margin-right: 50px;
  }
  .carrito .general .sumar {
    position: absolute;
    left: 180px;
  }
}



/* -------Footer------- */

:root{
  --colorOnyx : #3A3637;
  --colorNaranja: #FCB43A;
  --colorNaranjaClaro:  #F1C780;
  --colorCremita: #FFFEF1;
/*    --colorOnyxOscuro: #2c2a2b; */
  --colorDarkVanilla : #DCC4A4;
}

.footer {
background-color: #3a3637;
font-family: "Roboto", sans-serif;
width: 100%;
}

.footer p {
padding: 5px;
color: var(--colorNaranjaClaro); 
}

.footer h4 {
color: var(--colorNaranja);
margin-bottom: 30px;
}

.footer a {
text-decoration: none;
color: var(--colorNaranja);
display: block;
font-size: 15px;
font-weight: 500;
}

.footer .logo {
width: 100%;
text-align: center;
margin-top: 10px;
}

.footer .columnas {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.footer i{
  color: var(--colorNaranja);
}

.footer .contactanos {
text-align: center;
color: rgb(165, 165, 165);
margin-top: 30px;
width: 100%;
}

.footer .seguinos {
position: relative;
margin-top: 30px;
}

.footer .facebook i {
position: absolute;
right: 89px;
top: 57px;
font-size: 20px;
}

.footer .twitter i {
position: absolute;
right: 88px;
top: 120px;
font-size: 20px;
}

.footer .pinterest i {
position: absolute;
right: 155px;
top: 88px;
font-size: 20px;
}

.footer .instagram i {
position: absolute;
right: 23px;
top: 86px;
font-size: 20px;
}

.footer .instagram i:hover,
.footer .facebook i:hover,
.footer .pinterest i:hover,
.footer .twitter i:hover {
font-size: 22px;
color: var(--colorNaranjaClaro);
transition: 0.3s ease;
}

.footer a:hover {
font-size: 17px;
color: var(--colorNaranjaClaro);
transition: 0.3s ease;
}

.footer .informacion {
margin-top: 30px;
}

.footer .informacion a {
padding: 3px;
}

.footer .copyright {
background-color: #514b4d;
border-radius: 10px 10px 0 0;
text-align: center;
margin: 40px 20px 10px 20px;
padding: 0;
}

.footer .copyright p {
  color: rgb(180, 169, 169);
}

@media (min-width: 768px) {
.footer .columnas {
  width: 100%;
}
.footer .contactanos {
  width: 28%;
  margin-top: 10px;
}
}

@media (min-width: 1024px) {
.footer .columnas {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.footer .logo {
  width: 20%;
}

.footer .contactanos {
  width: 28%;
  margin-right: 30px;
}

.footer .informacion {
  padding: 0 40px;
}

.footer .copyright {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
}
}