* {
    font-family: "Roboto";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --colorOnyx: #3a3637;
    --colorNaranja: #fcb43a;
    --colorNaranjaClaro: #f1c780;
    --colorCremita: #fffef1;
    --colorOnyxHover: rgb(58, 54, 55, 0.7);
    --colorDarkVanilla: #dcc4a4;
    --colorCremitaHover: rgb(252, 180, 58, 0.4);
  }