* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

:root{
    --colorOnyx : #3A3637;
    --colorNaranja: #FCB43A;
    --colorNaranjaClaro:  #F1C780;
    --colorCremita: #FFFEF1;
    --colorOnyxHover: rgb(58, 54, 55, 0.7);
    --colorDarkVanilla: #DCC4A4;
    --colorCremitaHover: rgb(252, 180, 58, 0.4);
}