body{
    background-color: #FFFEF1;
    font-family: Roboto;    
}


h3{
    color: #3A3637;
}

.login{
    margin: 50px auto;
    display: flex;
    justify-content: center;
}
.login div{
    margin-top: 25px;
}
.login label{
    margin: 10px 0;
}
.login input {
    width: 250px;
}



.login label[for="usuario"], label[for="password"]{
    padding-left: 15px;

    
}


.login input[type="password"], input[type="text"]{
    border-radius: 15px;    
    border-color: #DCC4A4;
    border-width: 1px;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;
    height: 20px;
}

h5{
    padding: 60px 0;
}

.botonAcceptCancel input[type="submit"], input[type="reset"]{
    background-color: var(--colorOnyx);
    border: none;
    color: var(--colorNaranja);
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 25px;
    margin-bottom: 30px;
}
