*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
}
header a{
    text-decoration: none;
}
header .boton-changuito{    
    text-decoration: none;
    color: #FCB43A;
    display: block;
}
header .lupita{
    color: #FCB43A;
}

.dropdown {
    float: right;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 4;
  }
  
  .dropdown-content a {
    float: none;
    color: var(--colorOnyx);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

header{
    background-color: var(--colorOnyx);
}
header .iconos-TabletDesktop{
    display: none;
}

header .boton-hamburguesa{
    color: var(--colorNaranja);
    background-color: var(--colorOnyx); 
    padding: 20px 0 0 20px;
    display: block;
    width: 30px;    
    border-radius: 5px;     
}
header .changuito{
    padding: 20px 20px 0 0;    
    margin-bottom: 5px;
}
header .changuito .linkChanguito:nth-child(odd){
    border-left: 1px solid black;
    padding-left: 5px;
}
header .iconos-TabletDesktop .changuito .linkChanguito{
    background-color: var(--colorCremita);    
    font-size: 12px;
    display: inline;    
}

header .logo{
    width: 100%;
    text-align: center;
}
header .iconos{
    display: flex;
    justify-content: space-between;
}
header .iconos i{
    color: var(--colorNaranja);
    background-color: var(--colorOnyx);
}
header .navTabletDesktop{
    display: none;
}

header .barraBusquedaMobile{
    /* display: inline-block; */    
    display: flex;
    
    justify-content: space-between;
}
header .searchBar input[type="text"]{
    display: inline-block;
    
}
header .barraBusquedaMobile .searchBar{
    position: relative;
}
header .barraBusquedaMobile .searchBar a{
    display: inline-block; 
    position: absolute;
    right: 5px;
    top: 2px;    
}



header .barraBusquedaMobile .searchBar input[type="text"]{
    border-radius: 5px;
    border-width: 2px;
    border-color: var(--colorNaranja);
    background: transparent;
    width: 80vw;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left: 30px;   
    color: var(--colorNaranja);     

}

 ::placeholder { 
    color:var(--colorNaranja);
    opacity: 1; /* para firefox */
  }




/*********** Tablet ***********/
@media (min-width: 768px) {    
    header .changuito{
        display: flex;        
    }
    header .changuito img{
        max-width: 30px;
        margin-right: 10px;        
    }
    header .iconos-TabletDesktop .changuito .linkChanguito{
        font-size: 10px;
        text-decoration: none;        
    }

    header{
        background-color: var(--colorCremita); 
    }
    header .navTabletDesktop{
        display: flex;    
        justify-content: center;
        border-bottom: 1px solid rgb(58, 54, 55, 0.2);        
    }
    
    header nav ul{
        list-style-type: none
    }
    header nav ul li {              
        padding-right: 9px;
        padding-left: 9px;  
        width:130px;
        display:inline-block;
        text-align:center;   

        
    }
    header nav ul li a{        
        padding: 3px;
        color: var(--colorOnyx);
        font-size: 12px;              
    }



    header .iconos{
        display: none;
    }
    header .iconos-TabletDesktop{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(58, 54, 55, 0.2);
        align-items: center
    }
    header .iconos-TabletDesktop img{
        max-height: 55px; 
        width: 70px;
        margin-left: 40px;     
    }
    header .iconos-TabletDesktop .changuito .boton-changuito{
        background-color: var(--colorNaranja);
        color: var(--colorOnyx);    
        text-align: center;
    }

    header .barraBusquedaMobile{
        display: none;
    }
    
    header .searchBarTabletDesktop{
        /* flex-basis: 30%; */
        display: inline-block;        
    }
    header .iconos-TabletDesktop .searchBarTabletDesktop input{
        border-radius: 5px;
        border-width: 2px;
        border-color: var(--colorNaranja);
        background: transparent;
        padding-left: 10px;       
        display: inline-block;        
        width: 90%
    }
    header .searchBarTabletDesktop{
        width: 450px;        
    }
    header .iconos-TabletDesktop .searchBarTabletDesktop{
        position: relative;

    }
    header .iconos-TabletDesktop .searchBarTabletDesktop a{
        display: inline-block; 
        position: absolute;
        right: 55px;
        top: 2px;
    }


    ::placeholder { 
        color:var(--colorOnyx);
        opacity: 1; /* para firefox */
      }
}



/*********** Desktop ***********/
@media (min-width: 1024px){
    header .iconos-TabletDesktop .changuito .linkChanguito{
        font-size: 12px;
        text-decoration: none;
    }
    header .iconos-TabletDesktop img{
        margin-left: 15px;
    }

    header nav ul li{
        width: 180px;
    }

    header nav ul li a{
        font-size: 14px;
    }
    header .searchBarTabletDesktop{
        width: 650px;        
    }
    header .iconos-TabletDesktop .searchBarTabletDesktop a{  
        right: 75px;
        top: 2px;
    }
    header nav ul li a{
        transition: all .4s ease;         
    }
    header nav ul li a:hover{
        color: var(--colorNaranja);       
        transform: scale(1.05); 
       
    }
    /* header .iconos-TabletDesktop .changuito{
        padding-right: 50px;
    } */
    header .iconos-TabletDesktop .changuito .linkChanguito{
        transition: all .4s ease; 
        color: var(--colorOnyx);
    }
    header .iconos-TabletDesktop .changuito .linkChanguito:hover{
        color: var(--colorNaranja);
        transform: scale(1.05); 
    }

}

