/* ------------Carrusel--------------- */

/* Container */
.home .carrusel .slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  z-index: 3;
}

/* Imagenes invisibles */
.home .carrusel .Containers {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

/* Boton adelante y atras */
.home .carrusel .Back,
.forward {
  background-color: var(--colorOnyx);
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -23px;
  padding: 10px;
  color: #fffff1;
  font-weight: bold;
  font-size: 30px;
  transition: 0.4s ease;
  user-select: none;
}

/* Posicionar botón a la derecha */
.home .carrusel .forward {
  right: 0;
}

/*Icono se agranda cuando se hace hover */
.home .carrusel .Back:hover,
.forward:hover {
  background-color: var(--colorNaranjaClaro);
  color: var(--colorOnyx);
  font-size: 50px;
}

.home .carrusel 
.forward:hover {
  background-color: var(--colorNaranjaClaro);
  color: var(--colorOnyx);
  font-size: 50px;
}

/*Info fotos */
.home .carrusel .Info {
  font-family: "Roboto", sans-serif;
  color: #fffff1;
  background-color: rgb(58, 54, 55, 0.5);
  border-radius: 10px;
  font-size: 8px;
  padding: 5px;
  position: absolute;
  bottom: 20%;
  right: 20%;
  width: 60%;
  text-align: center;
}
.home .carrusel .Info h1{
  color: #fffff1;
}
.home .carrusel .Info h4 {
  display: none;
  color: #fffff1;
}
/* Circulos */
.home .carrusel .dots {
  cursor: pointer;
  height: 9px;
  width: 9px;
  margin: 0 3px;
  background-color: #3a3637;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
  margin-bottom: 20px;
}

.home .carrusel .enable,
.dots:hover {
  background-color: #fcb43a;
}

/* Animation */
.home .carrusel .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}

/* ------------Fin del Carrusel--------------- */

.home {
  background-color: var(--colorCremita);
  color: var(--colorOnyx);
}

.home h2 {
  text-align: center;
  margin: 0px 10px 10px 10px;
  padding-top: 10px;
  border-top: 1px solid var(--colorDarkVanilla);
}

.home .button {
  background-color: var(--colorOnyx);
  border: none;
  color: var(--colorNaranja);
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%;
  text-align: center;
  transform: translateX(22%);
}

.home .button a {
  color: var(--colorNaranja);
  text-decoration: none;
  font-size: 14px;
}

.home .button:hover {
  background-color: var(--colorOnyxHover);
}

/* Destacados */

.home .destacados .productos {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.home .destacados .productos .prodGrupo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  margin: 0 auto;
}

.home .destacados section .productos .prodGrupo .prodUnidad {
  border: 1px solid var(--colorDarkVanilla);
  border-radius: 10px;
  margin: 10px 0;
  padding-bottom: 15px;
}

.home .destacados section .productos .prodGrupo .prodUnidad img{
  height: 250px; 
  object-fit: contain;
}

.home .destacados section .productos .prodGrupo .prodUnidad p{
  color: var(--colorOnyx);
}

.home .productos .button {
  background-color: var(--colorCremita);
  border: 1px solid var(--colorOnyx);
  color: var(--colorOnyx);
  margin-top: 20px;
  font-size: 12px;
  width: 50%;
  transform: translateX(0%);
}

.home .productos .button:hover {
  background-color: var(--colorCremitaHover);
  font-weight: 600;
}

.home .destacados .productos img {
  max-width: 40%;
  justify-content: center;
}

.home .hexaDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home .hexaDisplay div {
  padding: 10px;
}

.home .destacados .hexagonos {
  text-align: center;
}

.home .destacados .hexagonos p {
  width: 90vw;
  margin: auto;
  padding-top: 20px;
  font-size: 18px;
}

.home .destacados p {
  text-align: center;
}

.home .destacados button {
  justify-content: center;
}

/* Sobre Nosotros */

.home .sobreNosotros p {
  text-align: center;
  margin: 10px 30px 20px 30px;
  font-size: 18px;
}

.home .sobreNosotros {
  display: block;
  margin-bottom: 20px;
}

.home .sobreNosotros img {
  width: 100vw;
  margin: auto;
  border-radius: 10px;
}

/* Salvemos a las abejas */

.home .cuidemosImagen .salvemos {
  text-align: center;
  margin: 10px;
}

.home .cuidemosImagen p {
  margin: 10px 30px 0 30px;
  text-align: center;
  font-size: 18px;
}

.home .hexagonoInfo {
  display: none;  
}

.home .hexagonoInfo p {  
  font-size: 18px;
}

@media (min-width: 768px) {
  .home h2 {
    padding: 20px;
  }
  .home .destacados .productos .prodGrupo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 95%;
    margin: 10px auto;
  }
  .home .destacados .productos .prodGrupo .prodUnidad {
    margin: 10px;
    width: 30%;
  }
  .home .destacados section .productos .prodGrupo .prodUnidad:hover {
    margin: 10px 0;
    padding-bottom: 15px;
    box-shadow: 0px 0px 5px rgb(105, 81, 41);
  }
  .home .sobreNosotros .imagen {
    display: flex;
    align-items: center;
  }
  .home .sobreNosotros .imagen p {
    order: 2;
    background-color: rgb(220, 196, 164, 0.3);
    border-radius: 10px;
    padding: 20px;
  }
  .home .sobreNosotros p {
    font-weight: 600;
  }
  .home .cuidemosImagen p {
    margin: 10px 60px;
  }
  .home .sobreNosotros img {
    width: 60vw;
    margin-left: 10px;
  }
  .home .hexagonoInfo {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    max-width: 80vw;
    margin: auto;
    text-align: center;
  }
  .home .hexagonoInfo {
    text-align: center;
    background-color: rgb(220, 196, 164, 0.3);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
  }
  .home .hexa {
    max-width: 30%;
    padding: 10px;
  }
  .home .carrusel .Back,
  .forward {
    top: 46%;
    margin-top: -23px;
    padding: 13px;
    font-weight: bold;
    font-size: 20px;
  }
  .home .carrusel .Info {
    font-size: 13px;
    padding: 15px 10px;
    bottom: 25%;
    left: 25%;
    width: 50%;
  }
  .home .carrusel .Info h4 {
    display: inline;
  }
  .home .carrusel .dots {
    height: 12px;
    width: 12px;
  }
}

@media (min-width: 1024px) {
  .home .sobreNosotros .imagen {
    display: flex;
    align-items: center;
  }
  .home .sobreNosotros p {
    width: 100%;
    padding: 0 30px;
    order: 2;
    font-size: 23px;
  }
  .home .button {
    width: 40%;
    transform: translateX(75%);
  }
  .home .cuidemosImagen p {
    margin: 20px 100px;
  }
  .home .carrusel .Back,
  .forward {
    top: 42%;
    margin-top: -23px;
    padding: 17px;
    font-weight: bold;
    font-size: 40px;
  }
  .home .carrusel
  .forward {
    top: 42%;
    margin-top: -23px;
    padding: 17px;
    font-weight: bold;
    font-size: 40px;
  }
  .home .carrusel .Info {
    font-size: 16px;
    padding: 20px 14px;
    left: 25%;
    width: 50%;
  }
  .home .carrusel .dots {
    height: 14px;
    width: 14px;
  }
}

