@import url('./carrito.css');
@import url('./general.css');
@import url('./index.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./detalle.css');
@import url('./login.css');
@import url('./registro.css');
@import url('./admin.css');