<footer class="footer">
        
    <div class="columnas">
        <div class="logo">
            <a href="/"><img src="/images/logoOscuro.png" alt="logo"></a>
        </div>

        <div class="seguinos">
            <h4>SEGUINOS EN LAS REDES</h4>
            <div class="redes">
             <img src="/images/hexagonosRedes.png" alt="">
            </div>
            <div class="facebook"><a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a></div>
 
            <div class="twitter"><a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a></div>
 
            <div class="pinterest"><a href="https://www.pinterest.com"><i class="fab fa-pinterest"></i></a></div>
 
            <div class="instagram"><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></div>
             
         </div>
         <div class="informacion">
             <h4>INFORMACIÓN</h4>
             <a href="/">Inicio</a>
             <a href="/">Productos</a>
             <a href="/">Contacto</a>
             <a href="https://sada.org.ar/protegeunacolmena/" target="_blank">Ayudá a las abejas</a>
         </div>
     
         <div class="contactanos">
             <img src="/images/abejaContacto.png" alt="">
             <p>+54 9 11 2619 3554</p> 
             <p>mielcolmena@gmail.com</p>
             <p>Atención al cliente de lunes a viernes de 9 a 18hs </p>    
         </div>
    </div>
    <div class="copyright">
        <p>Creado por Grupo3</p>
        <p>Copyright Tienda online COLMENA - 2021. Todos los derechos reservados. Defensa de las y los consumidores.</p>
    </div>
</footer>