<header>
    <section class="iconos">
        <div class="boton-hamburguesa">                
            <a href=""><i class="fas fa-bars"></i></a>
        </div>
        <div class="logo">
            <a href="/"><img src="/images/logoOscuroSinNombre.png" alt="logo"></a>
         </div>
        <div class="changuito">                
            <a href="/products/carrito"><i class="fas fa-shopping-cart"></i></a>
        </div>  
    </section>
    <section class="iconos-TabletDesktop">
        <div class="logoSinNombre">
            <a href="/"><img src="/images/logoColmenaSinNombre.png" alt="logo"></a>
        </div>
        <div class="searchBarTabletDesktop">
            <form action="">
                <input type="text" name="buscar" placeholder="Buscar">
                <a href=""><i class="fas fa-search"></i></a>
            </form>
        </div>
        <div>
            <div class="changuito">                
                <a href="/products/carrito"><i class="fas fa-shopping-cart"></i>Carrito</a>
                <% if (locals.userLogin) { %>
                <a class="linkChanguito" href="/users/profile">Mi Perfil</a> 
                <a class="linkChanguito" href="/users/logout">Cerrar sesión</a>   
                <% }else{ %>
                <a class="linkChanguito" href="/users/registro">Crear cuenta</a> 
                <a class="linkChanguito" href="/users/login">Iniciar sesión</a>
                <% } %>
             </div>  
        </div>
    </section>
    <section class="barraBusquedaMobile">
        <div class="searchBar">
            <form action="">
                <input type="text" name="buscar" placeholder="Buscar">
                <a href=""><i class="fas fa-search"></i></a>
            </form>
        </div>
    </section>
    <section class="navTabletDesktop">            
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="">Productos</a></li>
                    <li><a href="">Contacto</a></li>
                    <li><a href="">Ayudá a las abejas</a></li>
                    <% if (locals.userLogin && locals.userLogin.rol === 'admin'){ %>
                    <li><a href="/admin">Administrador</a></li>
                    <% } %>
                </ul>
            </nav>                
    </section>
</header>