<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COLMENA - Carrito de Compras</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="carrito">
    <!-- <h2>CARRITO DE COMPRAS</h2> -->
    <section class="carritoProductos">
        <article>
            <div><img src="/images/logoColmena.png" alt=""></div>
            <div class="sumar"><p>Miel Orgánica 500gr.</p>
                <button>-   1   +</button></div>
            <div class="precio">
                <a href=""><i class="fas fa-trash"></i></a>
                <p>$1200.-</p>
            </div>
        </article>
        <article>
            <div><img src="/images/logoColmena.png" alt=""></div>
            <div class="sumar"><p>Miel Orgánica 500gr.</p>
                <button>-   1   +</button></div>
            <div class="precio">
                <a href=""><i class="fas fa-trash"></i></a>
                <p>$1200.-</p>
            </div>
        </article>
        <div class="subtotal">
            <p>Subtotal(sin envío):</p>
        <p>$1550.-</p>
        </div>
    </section>

    <section class="carritoResumen">
        <div class="recuadroResumen">
            <h4>RESUMEN</h4>
        <a href=""><i class="fas fa-truck"></i></a><p>Medios de envío</p>
        <form action="">
            <input type="number" name="codigoPostal"><button>CALCULAR</button>
        </form>
        <a href=""><i class="fas fa-store"></i></a><p>Medios de envío</p>
        <input type="radio" name="envio">Depósito. ¡Te avisamos por mail cuando esté listo para retirar! - Carranza 826, Villa Lynch, San Martín - Atención de Lun. a Vie de 11 a 15hs. ¡Acordate tu número de pedido!
        <p>Gratis!</p>
        </div>
        <div class="total">
            <p>Total:</p>
            <p>$1550.-</p>
        </div>
        <button>FINALIZAR COMPRA</button>
        <a href="">Ver mas productos</a>
    </section>
</body>
</html>