<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COLMENA - Carrito de Compras</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<header></header>
<body class="carrito">
    <h2>CARRITO DE COMPRAS</h2>
    <div class="general">
    <section class="carritoProductos">
        <article>            
            <div><img src="/images/frasco125grCar.png" alt=""></div>
            <div class="sumar"><p>Miel Orgánica 125gr.</p>                
                <form action="">
                    <button id='disminuir' onclick="disminuir()">-</button>
                    <input type='text' id="cantidad" value="0">
                    <button id='aumentar' onclick="aumentar()">+</button>
                </form>
            </div>
        
            <div class="precio">
                <a href=""><i class="fas fa-trash"></i></a>
                <p>$900.-</p>
            </div>
        </article>

        <article>
            <div><img src="/images/remeras1.jpg" alt=""></div>
            <div class="sumar"><p>Remera Save The Bees</p>
                <form action="">
                    <button id='disminuir' onclick="disminuir()">-</button>
                    <input type='text' id="cantidad" value="0">
                    <button id='aumentar' onclick="aumentar()">+</button>
                </form>                
            </div>
        
            <div class="precio">
                <a href=""><i class="fas fa-trash"></i></a>
                <p>$1200.-</p>
            </div>
        </article>

        <div class="subtotal">
            <h4>Subtotal(sin envío):</h4>
        <h4>$2100.-</h4>
        </div>
    </section>

    <section class="carritoResumen">
        <div class="recuadroResumen">
            <h3>RESUMEN</h3>
        <div><a href=""><i class="fas fa-truck"></i></a><h4>Medios de envío</h4></div>

        <form class="cp" action="">            
            <input type="number" name="codigo postal" id="number" value="Tu código postal">
            <input type="button" value="CALCULAR">
        </form>

        <div><a href=""><i class="fas fa-store"></i></a><h4>Nuestro local</h4></div>
        <div class="depositoGratis">

            <input type="radio" name="envio"><span>Depósito. ¡Te avisamos por mail cuando esté listo para retirar! - Carranza 826, Villa Lynch, San Martín - Atención de Lun. a Vie de 11 a 15hs. ¡Acordate tu número de pedido!</span>
        <h4>Gratis!</h4>
        </div>
        </div>
        <div class="total">
            <h4>Total:</h4>
            <h4>$2100.-</h4>
        </div>
        <div class="finalizar"><button class="button">FINALIZAR COMPRA</button>
            <div class="verMas"><a href="">Ver mas productos</a></div>
        </div>
    </section>
</div>
<footer></footer>
</body>
</html>