<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle de Producto</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/detalle.css" />
    <script
      src="https://kit.fontawesome.com/018e74bdce.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- MAIN -->
    <header class="header">
      <!-- LOGO -->
      <div class="logo">
        <img class="logo" src="/images/logoColmena.png" alt="" />
      </div>

      <!-- Busqueda -->
      <div class="form-search">
        <form action="">
          <input class="search" type="text" placeholder="Buscar" />
        </form>
      </div>

      <!-- Carrito -->
      <div >
        <button class="carrito-header">Carrito</button>
        <div>
          <h4 class="texto">
            <a class="link-session" href="">Crear Cuenta</a>|<a
              class="link-session"href="">Cerrar Sesión</a>
          </h4>
        </div>
      </div>
    </header>

    <!-- Nav -->
    <hr />
    <nav>
      <div class="nav-bar">
        <ul>
          <li><a href="">Inicio</a></li>
          <li><a href="">Productos</a></li>
          <li><a href="">Contacto</a></li>
          <li><a href="">Ayudá a las abejas</a></li>
          <li><a href="">Ofertas</a></li>
        </ul>
      </div>
    </nav>
    <hr />

    <!-- MAIN -->
    <main class="row">
      <div class="main">
        <div class="categorias">
            <h3>CATEGORIAS</h3>
            <ul>
             <div class="link-miel"><li><a href="link-miel"></a>MIEL</li></div> 
             <div class="link-utensilios"><li><a href="link-utensilios"></a>UTENSILIOS</li></div>
            <div class="link-deco-y-hogar"><li><a href="link-deco-y-hogar"></a>DECO Y HOGAR</li></div> 
            </ul>
          </div>

        <div class="imagen">
          <img src="/images/frasco125gr.png" alt="" />
        </div>

        <div class="lista"><p>INICIO > MIEL > MIEL LÍQUIDA POR 125GR.</p></div>
      

        <div class="desc">
          <div class="titulo"><h1>Miel Líquida por 125gr.</h1>
          <h2>$900.</h2>
        </div>

         <div class="cuotas"><h4>12 cuotas de $86,50</h4></div>
          
          <hr>

          <div> <p>Cantidad</p> </div> 
          
          <hr>
         
          <div>
          <button class="button-carrito-main">AGREGAR AL CARRITO</button>
        </div>

          <h3>Miel Líquida</h3>
          <p>
            100% miel de abeja de colmena de Sierra de la Ventana.
            Es multifloral: de trébol, melilotus y cardo. Un proceso de
            calentado permite obtener una miel líquida y cristalina, ideal para
            endulzar infusiones, limonadas y licuados.
          </p>
        </div>
      </div>
    </main>

    
  
  </body>
</html>
