<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colmena</title>
</head>
<body>
    <header> 

        <img src="/public/images/logoColmena.png">
        <input type="search"></input>
        <div>Comprá en cuotas y sin tarjeta de crédito</div> 
        <nav>
            <ul>     
                <li><a href="#">Inicio</a></li>   
                <li><a href="#">Productos</a></li>     
                <li><a href="#">Ayuda a las abejas</a></li> 
                <li><a href="#">Ofertas</a></li>   
                 </ul>

           <h2>Categorias</h2>
            <ul>
                <li><a href="#">MIEL </a> <i class="far fa-id-card"></i></li>     
                <li><a href="#">UTENCILIOS</a> </li> 
                <li><a href="#">DECO & HOGAR </a> </li>    
            </ul>
        </nav>
    </header> 
</body>
</html>