<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colmena - Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/general.css">
    <script src="https://kit.fontawesome.com/018e74bdce.js" crossorigin="anonymous"></script>
</head>
<body> 

     <!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
      <img src="/images/carrusel1.png" style="width:100%">
      <div class="text">Caption Text</div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="/imgages/carrusel2.png" style="width:100%">
      <div class="text">Caption Two</div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="/images/carrusel3.png" style="width:100%">
      <div class="text">Caption Three</div>
    </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>
      

    <article class="destacados">
        <h2>Miel COLMENA</h2>
        <section>
            <div class="productos">
                <div class="productosCompleto">
                    <div>
                        <img src="/images/frascoChico.jpg" alt="">
                        <p>Pote de 75Gr.<br>Pura Miel Orgánica</p>
                        <a href="/views/listadoProductos.html" class="button">VER MAS</a>
                    </div>
                    <div>
                        <img src="/images/frascoGrande.jpg" alt="">
                        <p>Pote de 200Gr.<br>Pura Miel Orgánica</p>
                        <a href="/views/listadoProductos.html" class="button">VER MAS</a>
                    </div>
                    <div>
                        <img src="/images/frascoMediano.jpg" alt="">
                        <p>Pote de 125Gr.<br>Pura Miel Orgánica</p>
                        <a href="/views/listadoProductos.html" class="button">VER MAS</a>
                    </div>
                </div>
                <div class="mobileProd">
                    <div>
                        <img src="/images/frascoGrande.jpg" alt="">
                        <p>Pote de 200Gr.<br>Pura Miel Orgánica</p>
                        <a href="/views/listadoProductos.html" class="button">VER MAS</a>
                    </div>
                </div>
            </div>
            <div class="hexagonos">
                <div class="hexaMobile"><img src="/images/hexaMobile.png" alt=""></div>
                <div class="hexaDesktop"><img src="/images/hexaDesktop.png" alt=""></div>
                <p>Ofrecemos la mejor miel en diferentes presentaciones, utensilios e indumentaria, chequeá nuestra sección de productos.</p>
            </div>
        </section>
        <a href="/views/listadoProductos.html" class="button">VER TODOS LOS PRODUCTOS</a>
    </article>

    <article class="sobreNosotros">
        <h2>Sobre Nosotros</h2>
        <div class="imagen">
            <p>Ofrecemos productos son naturales y organicos con la energía vibrante de Sierra de la Ventana, nos concentramos en la sustentabilidad y el respeto por la naturaleza.</p>
        <div><img src="/images/trajePanal4.jpg" alt="panal y trajes"></div>
        </div>        
    </article>

    <article>
        <h2>Cuidemos a las abejas</h2>
        <div class="cuidemosImagen">
            <div class="salvemos"><img src="/images/salvemosAbejas.png" alt=""></div>
        <p>Las abejas desempeñan un papel imprescindible para el equilibrio ecológico en la naturaleza y para la vida humana, por su papel como polinizadoras y por su capacidad para producir miel, jalea real, cera y propóleo.</p>
        </div>
        <section class="hexagonoInfo">
            <div class="hexa">
                <img src="/images/abejas1.png" alt="">
                <p>Los cientificos dicen que las abejas son responsables de uno de cada tres bocados de alimento que ingerimos.</p>
            </div>
            <div class="hexa">
                <img src="/images/abejas2.png" alt="">
                <p>La presencia de abejas en los ecosistemas favorece la biodiversidad y contribuye a su preservación y a la estabilidad ecológica de los espacios naturales.</p>
            </div>
            <div class="hexa">
                <img src="/images/abejas3.png" alt="">
                <p>Muchos frutos y hortalizas dependen de la polinización para su correcto cultivo, y las abejas son responsables del 80% de la polinización de las plantas</p>
            </div>
        </section>
        <a href="https://sada.org.ar/protegeunacolmena/" class="button">QUIERO AYUDAR A LAS ABEJAS</a>
    </article>
</main>
<script src="/index.js"></script>
</body>
</html>