<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalle de Producto</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/018e74bdce.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>Detalle de Producto</h1>
   
    <hr />
    <!-- MAIN -->
    <main class="row">
      <div class="main">
        <div class="categorias">
          <h3>CATEGORIAS</h3>
          <ul>
            <li><a href="link-miel">MIEL</a></li>
            <li><a href="link-utensilios">UTENSILIOS</a></li>
            <li><a href="link-deco-y-hogar">DECO Y HOGAR</a></li>
          </ul>
        </div>
        <div class="imagen">
          <img src="/images/frasco125gr.png" alt="" />
        </div>
        <div class="lista">
          <p> INICIO > MIEL > MIEL LÍQUIDA POR 125GR. </p>
        </div>
        

        <div class="desc">
          <h1>Miel Líquida por 125gr.</h1>
          <h2>$900.</h2>

          <h4>12 cuotas de $86,50</h4>
          <hr />
          <h4>Cantidad</h4>
          <input class="button" type="number" />
          <button class="button-carrito-main">AGREGAR AL CARRITO</button>
          <h3>Miel Líquida</h3>
          <div class="texto"><p>
            100% miel de abeja de colmena de Sierra de la Ventana.
            Es multifloral: de trébol, melilotus y cardo. Un proceso de
            calentado permite obtener una miel líquida y cristalina, ideal para
            endulzar infusiones, limonadas y licuados.
          </p></div>
          
        </div>
      </div>
    </main>


  </body>
</html>
