<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colmena - Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/general.css">
    <script src="https://kit.fontawesome.com/018e74bdce.js" crossorigin="anonymous"></script>
</head>
<header></header>
<body class="home">     

    <!-- /* ------------Carrusel--------------- */ -->
    <div class="carrusel">
        <!-- Container -->
  <div class="slideshow-container fade">
  
    <!-- Imagenes y mensajes -->
    <div class="Containers">
      <div class="MessageInfo"></div>
      <img src="/images/carrusel1.png" style="width:100%">
      <div class="Info"><h1>Miel pura y orgánica</h1><h4>Descubrí su sabor único</h4></div>
    </div>
  
    <div class="Containers">
      <div class="MessageInfo"></div>
      <img src="/images/carrusel2.png" style="width:100%">
      <div class="Info"><h1>Cosechado con cuidado</h1><h4>De la colmena a tu mesa</h4></div>
    </div>
  
    <div class="Containers">
      <div class="MessageInfo"></div>
      <img src="/images/carrusel3.png" style="width:100%">
      <div class="Info"><h1>Cuidamos a las abejas</h1><h4>Ayudalas comprando productos relacionados</h4></div>
    </div>
  
    <!-- Botones atrás y adelante -->
    <a class="Back" onclick="plusSlides(-1)">&#10094;</a>
    <a class="forward" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- Círculos -->
  <div style="text-align:center">
    <span class="dots" onclick="currentSlide(1)"></span>
    <span class="dots" onclick="currentSlide(2)"></span>
    <span class="dots" onclick="currentSlide(3)"></span>
  </div> 
    </div>
    <!--------------Fin del Carrusel----------------->

    <article class="destacados">
        <h2>Destacados</h2>
        <section>
            <div class="productos">
                <div class="prodGrupo">
                    <div class="prodUnidad">
                        <img src="/images/producto1.jpg" alt="">
                        <p>Pote de 125Gr.<br>Pura Miel Orgánica</p>
                        <a href="/views/listadoProductos.html" class="button">VER MAS</a>
                    </div>
                    <div class="prodUnidad">
                        <img src="/images/producto2.jpg" alt="">
                        <p>Remera Save The Bees<br>Talle S-M-L-XL</p>
                        <a href="/views/listadoProductos.html" class="button">VER MAS</a>
                    </div>
                    <div class="prodUnidad">
                        <img src="/images/producto3.jpg" alt="">
                        <p>Pote vidrio con palito<br>Tamaño 125Gr.</p>
                        <a href="/views/listadoProductos.html" class="button">VER MAS</a>
                    </div>
                </div>                
            </div>
            <div class="hexagonos">
                <h2>Miel COLMENA</h2>
                <div class="hexaDisplay">
                    <div><img src="/images/hexagono1.png" alt=""></div>
                    <div><img src="/images/hexagono2.png" alt=""></div>
                    <div><img src="/images/hexagono3.png" alt=""></div>
                    <div><img src="/images/hexagono4.png" alt=""></div>
                </div>
                <p>Ofrecemos la mejor miel en diferentes presentaciones, utensilios e indumentaria, chequeá nuestra sección de productos.</p>
            </div>
        </section>
        <div class="button"><a href="/views/listadoProductos.html">VER TODOS LOS PRODUCTOS</a></div>
    </article>

    <article class="sobreNosotros">
        <h2>Sobre Nosotros</h2>
        <div class="imagen">
            <p>Ofrecemos productos naturales y organicos, con la energía vibrante de Sierra de la Ventana. <br> <br>
                Nos concentramos en la sustentabilidad y el respeto por la naturaleza.</p>
        <div><img src="/images/trajePanal4.jpg" alt="panal y trajes"></div>
        </div>        
    </article>

    <article>
        <h2>Cuidemos a las abejas</h2>
        <div class="cuidemosImagen">
            <div class="salvemos"><img src="/images/salvemosAbejas.png" alt=""></div>
        <p>Las abejas desempeñan un papel imprescindible para el equilibrio ecológico en la naturaleza y para la vida humana, por su papel como polinizadoras y por su capacidad para producir miel, jalea real, cera y propóleo.</p>
        </div>
        <section class="hexagonoInfo">
            <div class="hexa">
                <img src="/images/abejas1.png" alt="">
                <p>Los cientificos dicen que las abejas son responsables de uno de cada tres bocados de alimento que ingerimos.</p>
            </div>
            <div class="hexa">
                <img src="/images/abejas2.png" alt="">
                <p>La presencia de abejas en los ecosistemas favorece la biodiversidad y contribuye a su preservación y a la estabilidad ecológica de los espacios naturales.</p>
            </div>
            <div class="hexa">
                <img src="/images/abejas3.png" alt="">
                <p>Muchos frutos y hortalizas dependen de la polinización para su correcto cultivo, y las abejas son responsables del 80% de la polinización de las plantas</p>
            </div>
        </section>
        <div class="button"><a href="https://sada.org.ar/protegeunacolmena/">QUIERO AYUDAR A LAS ABEJAS</a></div>
    </article>
</main>

<footer></footer>

<!-- Javascript para el carrusel -->

<script>
var slidePosition = 1;
SlideShow(slidePosition);

    // forward/Back controls
function plusSlides(n) {
  SlideShow(slidePosition += n);
}

//  images controls
function currentSlide(n) {
  SlideShow(slidePosition = n);
}

function SlideShow(n) {
  var i;
  var slides = document.getElementsByClassName("Containers");
  var circles = document.getElementsByClassName("dots");
  if (n > slides.length) {slidePosition = 1}
  if (n < 1) {slidePosition = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < circles.length; i++) {
      circles[i].className = circles[i].className.replace(" enable", "");
  }
  slides[slidePosition-1].style.display = "block";
  circles[slidePosition-1].className += " enable";
} 
</script>
</body>
</html>