<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/018e74bdce.js" crossorigin="anonymous"></script>
</head>
<body> 
    <header>  
        <section class="iconos">
            <div class="boton-hamburguesa">                
                <a href=""><i class="fas fa-bars"></i></a>
            </div>
            <div class="logo">
                <a href=""><img src="/images/logoOscuroSinNombre.png" alt="logo"></a>
             </div>
            <div class="changuito">                
                <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
            </div>  
        </section>
        <section class="iconos-TabletDesktop">
            <div class="logoSinNombre">
                <a href="/"><img src="/images/logoColmenaSinNombre.png" alt="logo"></a>
            </div>
            <div class="searchBarTabletDesktop">
                <form action="">
                    <input type="text" name="buscar" placeholder="Buscar">
                    <!-- <button type="submit"><i class="fas fa-search"></i></button> -->
                    <a href=""><i class="fas fa-search"></i></a>
                </form>
            </div>
            <div>
                <div class="changuito">                
                    <a href=""><i class="fas fa-shopping-cart"></i>Carrito</a>
                    <a class="linkChanguito" href="/registro">Crear cuenta</a> 
                    <a class="linkChanguito" href="/login">Iniciar sesión</a>
                </div> 
            </div>
        </section>
        <section class="barraBusquedaMobile">
            <div class="searchBar">
                <form action="">
                    <input type="text" name="buscar" placeholder="Buscar">
                    <!-- <button type="submit"><i class="fas fa-search"></i></button> -->
                    <a href=""><i class="fas fa-search"></i></a>
                </form>
            </div>
        </section>
        <section class="navTabletDesktop">            
                <nav>
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="">Productos</a></li>
                        <li><a href="">Contacto</a></li>
                        <li><a href="">Ayudá a las abejas</a></li>
                        <li><a href="">Ofertas</a></li>
                    </ul>
                </nav>                
        </section>     
    </header>
    <main>      
        <div class="login">
            <form action="/login" method="POST">                
                    <div>
                        <label for="usuario">Nombre de usuario</label>
                        <input type="text" name="usuario" placeholder="" id="usuario">
                    </div>
                    <div>
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" placeholder="" id="password">
                    </div>               
                <h5>¿Olvidaste tu nombre de usuario o contraseña?</h4>
                <div class="botonAcceptCancel">
                    <input type="submit" name="" value="Iniciar sesión">
                    <input type="reset" name="" value="Cancelar">
                </div>
            </form>   
        </div>                
    </main>
    <footer>
        
    </footer>
</body>
</html>