<!DOCTYPE html>
<html lang="es">

    <%-include('../partials/head') %>

<body> 

    <%-include('../partials/header') %>

    <main>      
        <!-- <% if (typeof errors != 'undefined') { %>
            <p style="color: red">ERROR</p>
            <ul>
                <% for(let i = 0; i < errors.length; index++) { %>
                    <li>
                        <%=errors[i].msg%> 
                    </li>
                
                <% } %>
            </ul>         
        <% } %> -->
        <div class="login">
            <form action="/users/login" method="POST">                
                    <div>
                        <label for="email">Email de usuario</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div>
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" id="password">
                    </div>               
                <h5>¿Olvidaste tu nombre de usuario o contraseña?</h4>
                <div class="botonAcceptCancel">
                    <input type="submit" name="" value="Iniciar sesión">
                    <input type="reset" name="" value="Cancelar">
                </div>
            </form>   
        </div>                
    </main>

    <%-include('../partials/footer') %>
    
</body>
</html>