<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
</head>
<body>
    <h1>Perfil de Usuario: <%= user.name %></h1>
    <img src="/images/users/<%= user.avatar %>" alt="imagen de usuario">
    <br>
    <a href="/">Volver a Home</a>
</body>
</html>