<!DOCTYPE html>
<html lang="es">

    <%-include('../partials/head') %>

<body> 

    <%-include('../partials/header') %>
    
    <main>
         <div class="box-texto">
                <h3>Formulario de registro</h3> 
                <h4>Complete los siguientes campos para registrarse en nuestro sitio.</h4>  
        </div>   
        <div class="registro">           
            <div class="box-formularios">
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="desktopRegistro">
                        <div>
                            <label for="name">Nombre</label>
                            <input type="text" name="name" placeholder="" id="name">                        
                        </div>  
                        <div>
                            <label for="lastname">Apellido</label>
                            <input type="text" name="lastname" placeholder="" id="lastname">                        
                        </div>  
                        <div>
                            <label for="email">Email</label>
                            <input type="email" name="email" placeholder="" id="email">
                        </div>     
<br>
                        <label for="image">Foto</label>
                            <input class="image" type="file" id="image" name="image">
                            

                    </div>      
                    <div class="desktopContraseñas">
                        <div>
                            <label for="password">Contraseña</label>
                            <input type="password" name="password" placeholder="" id="password">
                        </div>   
                        <div>
                            <label for="rePassword">Confirmar contraseña</label>
                            <input type="rePassword" name="rePassword" placeholder="" id="rePassword">
                        </div>
                    </div>
                    <div class="yaTengoCuenta">
                        <p>¿Ya tenés una cuenta? <a href="/users/login">Iniciar sesión</a></p>
                    </div>
                    <div class="botonAcceptCancel">
                        <input type="submit" name="" value="Registrarse">
                        <input type="reset" name="" value="Cancelar">
                    </div>
                </form>  
            </div>                      
        </div>       
    </main>
    <%-include('../partials/footer') %>
</body>
</html>