<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COLMENA</title>
</head>
<body style="background-image: url(/images/Menu/mobile-gris.png);">
    <div style="width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;">
        <img src="/images/error.png" alt="URL no encontrada" style="width: 70%;" >
        <button  style="background-color: #f1d367;
        padding: 5px;
        border-radius: 10%;
        font-size: 20px;
        font-weight: bold;
        margin: 2px;
        "> <a href="javascript: history.go(-1)" style="text-decoration: none; color: white;"> Volvamos por donde vinimos!</a> </button>
    </div>

</body>
</html>